body { background-color:#FEF1A8 ;
		}
	.menu{ list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDE768;}
	
	.left {
		float: left;
	}

	li a {
		display: block;
		color: black;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	li a:hover {
		background-color: #FCD603;
	}
	.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
	.right {
		float:right;
	}